Package: [[name]]
Version: [[version]]
Provides: jtimeseries
Conflicts: jtimeseries
Section: contrib/misc
Priority: optional
Architecture: all
Depends: openjdk-8-jre-headless, tomcat8, libtcnative-1, authbind
Maintainer:  Norwegian Meteorological Institute met.no <halo-dev@met.no>
Description: The web service for plotting meteogram and marinogram using jtimeseries-api.
Distribution: This is the debian package for jtimeseries Web Application.
